body{
	margin: 0 auto;
	font-family: Cambria;
	background: #bbbbbb;
	background: -moz-radial-gradient(center, ellipse cover, #bbbbbb 0%, #555555 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #bbbbbb 0%,#555555 100%);
	background: radial-gradient(ellipse at center, #bbbbbb 0%,#555555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#555555',GradientType=1 );
}
p{
	padding: 0;
	margin: 0;
}
/*
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/andika/v9/hqQcL6we-D2Rz2PEMZTt1g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
*/
article{
	min-width: 900px;
	max-width: 1100px;
	padding: 0 5em; 
	margin: 0 auto;
}
#center_failed_login{
	position: relative;
	height: 0px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
#failed_login{
	position: absolute;
	top: 250px;
	margin: 0 auto;
}
.blur-filter{
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.center{
	position: relative;
	top:0px;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	width: 300px;
	height: 200px;
	border: 0;
	border-radius: 15px;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f1f1f1 50%, #e1e1e1 100%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f1f1f1 50%,#e1e1e1 100%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ffffff 0%,#f1f1f1 50%,#e1e1e1 100%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	overflow: hidden;
	z-index: 200;
}
.center p{
	margin: 70px 35px;
}
.krzyzyk{
	position: absolute;
	top: 0px;
	right: 0px;
	width:30px;
	height:30px;
	cursor: pointer;
}
/******************** header **************************/
header{
	position: relative;
	margin: 0 auto;
	height: 150px;
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );

	border-bottom: 4px solid #000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}
header .logo{
	position: absolute;
	top: 55px;
	left: 30px;
	z-index: 100;
}
header h2{
	position:absolute;
	top: 65px;
	left: 100px;
	margin: 0;
	letter-spacing: 0.1em;
	font-family: Cambria;
	font-size: 26px;
	z-index: 100;
}
.cssclass{
	
}
header h1{
	position: relative;
	top: 50px;
	left: 0px;
	height: 2em;
	margin: 0 -1em 0 -1em;
	padding: 0em 2em;
	font-size: 30px;
	background: #f1da36;
	background: -moz-linear-gradient(left,  #f1da36 0%, #fefcea 100%);
	background: -webkit-linear-gradient(left,  #f1da36 0%,#fefcea 100%);
	background: linear-gradient(to right,  #f1da36 0%,#fefcea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=1 );
}
header h1:before,
header h1:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	z-index: -1;
	border: 1em solid #d7bf0f;
} 
header h1:before{
	left: -1.5em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}
header h1:after{
	right: -1.5em;
	border-left-width: 1.5em;
	border-left-color: #fcf7cf;
	border-top-color: #fcf7cf;
	border-bottom-color: #fcf7cf;
	border-right-color: transparent;
}
header h1 .wstazka:before, 
header h1 .wstazka:after{
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	bottom: -1em;
}
header h1 .wstazka:before{
	left: 0;
	border-width: 1em 0 0 1em;
	border-color: #bfaa0d transparent transparent transparent;
}
header h1 .wstazka:after{
	right: 0;
	border-width: 1em 1em 0 0;
	border-color: #f8eea0 transparent transparent transparent;	
}
/***************** POWITANIE BOX ****************/
#powitanie{
	position: absolute;
	top: 0px;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	right:100px;
	height: 40px;
	width: 200px;
	background: transparent;
	text-decoration: none;
	font-size: 13px;
	z-index: 11;
}
.powitanie1{
	position: relative;
	left: 0px;
	top: 0px;
}
.powitanie2{
	position: absolute;
	right: 20px;
	top: 20px;	
	border: 0;
	background: transparent;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	font-family: Cambria;
	font-size: 16px;
	color: #888;
}
.powitanie2:hover{
	text-decoration: underline;
}
#logout{
	margin: 0;
	padding: 0;
}
/***********************************************/
#login{
	position: absolute;
	top: 0px;
	margin: 0;
	text-align: center;
	right:100px;
	height: 60px;
	width: 300px;
	background: transparent;
	text-decoration: none;
	cursor: pointer;
	z-index: 11;
}
#login:hover .login_tekst{
	text-decoration: underline;
}
/*
#login:hover .login_circle{
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); 
	transition: transform 0.5s;
}
*/
.login_circle{
	position: relative;
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
	top: 16px;
	transition: transform 0.5s;
}
.login_tekst,
.login_tekst2,
.login_tekst3{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	top: 10px;
	font-size: 16px;
}
.login_tekst2,
.login_tekst3{
	top:16px;
}
.login_tekst2{
	font-size: 12px;
}
#logowanie_wrap{
	position: absolute;
	/*	
	background: #f7ea88;
	background: -moz-linear-gradient(left, #f7ea88 0%, #f9f4c7 100%);
	background: -webkit-linear-gradient(left, #f7ea88 0%,#f9f4c7 100%);
	background: linear-gradient(to right, #f7ea88 0%,#f9f4c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ea88', endColorstr='#f9f4c7',GradientType=1 );
	*/
	top: 60px;
	right: 50px;
	height: 0px; /*height max = 140 px w js*/
	width: 350px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	transition: height 0.5s ease-in;
	box-shadow: 1px 1px 1px #222;
}
/******************* formularz *******************/
#logowanie{
	position: absolute;
	top: 20px;
	left: 40px;
	height: 80px;
	width: 270px;
	z-index: 15;
	display: block;
	transition: 0.5s width;
} 
#logowanie input[type="text"],
#logowanie input[type="password"],
#add .monit_logowanie input,
#submit2,
#add_materialy_dodaj input[type="text"],
#submit_dodaj,
#labelObrazek,
#akcja_name,
#akcja_select{
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0 auto 20px auto;
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 10px;
	background: rgba(255,255,255,0.7);
	font-family: Cambria;
	font-size: 14px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
#logowanie input[type="text"]:focus,
#logowanie input[type="password"]:focus,
#add .monit_logowanie input[type="text"]:focus,
#add .monit_logowanie input[type="password"]:focus{
	background: rgba(207,207,207,0.8);
	border: 0;
	outline: 0;
}
#logowanie_wrap input[type="submit"],
#submit{
	position: relative;
	top: -5px;
	left: 220px;
	margin:0 0 30px 0;
	width: 50px;
	height: 50px;
	border: 1px solid #AAA;
	border-radius: 50px;
	background:#CCC;
	cursor: pointer;
	display: inline-block;
	z-index: 20;
	font-family: Cambria;
	font-size:16px;
	text-align: center;
	line-height:50px;
}
#logowanie_wrap input[type="submit"]:hover,
#submit:hover{
	cursor: pointer;
	border: 1px solid #888;
	background: #888;
	color: #EEE;
	transition: border, background 0.3s linear;
	z-index: 30;
}
#logowanie_wrap p{
	position: relative;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 12px;
	letter-spacing:0.1em; 
	display: inline-block;
	color: #000;
	font-family: Cambria;
	z-index:20;
}
/* link */
#logowanie_wrap p#rejestracja{
	position: relative;
	top:5px;
	margin:0 0 10px 10px;
	padding: 20px;
	font-size: 12px;
	letter-spacing:0.1em; 
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	z-index: 20;
}
#logowanie_wrap p#rejestracja:hover{
	text-decoration: underline;
}
/***************/
/******************* formularz *******************/

#logowanie_wrap .chk_box_otoczka{
	margin: 0 20px 0 0;
	padding: 0;
	position: relative;
	top: 3px;
	left: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 2px;
	display: inline-block;
	background: transparent;
	font-size: 12px;
}
#logowanie_wrap input[type="checkbox"]{
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	border: 0;
	margin: 5px;
	padding: 0;
	z-index: 20;

}
.reg_tekst{
	font-variant: capitalize;
	font-family: curier;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 5px;
}
.regulamin{
	position: relative;
	top: 10px;
	margin: 0px auto 10px auto;
	height: 120px;
	width:270px;
	border: 1px inset #222;
	box-shadow: -1px -1px 2px #AAA;
	overflow-y: scroll;
	background: #cccccc;
	background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 100%);
	background: linear-gradient(to right,  #cccccc 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=1 );
	z-index:20;
}
.regulamin ol,
.regulamin ol li{
	padding-right: 10px;
	font-size: 10px;
	font-family: 'Curier News';
	line-height: 1.5em;
}
.dologowania{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
.space{
	margin: 15px 0px 0px 0px;
}
/********* CSS TOGGLE ********/
.cssclass{
	position: absolute;
	top: 15px;
	right: 30px;
	display:none;

}
#cssselect{
	width: 120px;
	height: 30px;
	line-height:30px;
	text-align: center;
	background: inherit;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#cssselect option{
	background: inherit;
	border-radius: 5px;
}
/*****************************/
/* content */
nav
{
	clear: left;
	position: relative;
	margin: 20px 60px 0px 60px;
	display: block;
	height: 65px;
	text-align: center;
}
.innav
{
	margin: 0 auto;
	width: 800px;
}
nav ul
{
	margin: 0 auto;
}
nav ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li
{
	float: left;
	width: 250px;
	height: 65px;
	margin-right: 1px;
}
nav ul li:hover{
	background: #888;
}
nav ul li a
{
	width: 250px;
	height: 65px;
	display: inline-block;
	line-height: 60px;
	background: #ddd;
	color: #888;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}
nav ul li a:hover
{
	background: #888;
	color: #fff;
	transition: background 0.5s linear;
	cursor: pointer;
}
/****** CONTENT ******/
#add,
#places,
#ranking
{
	margin: 0px auto;
	padding-bottom: 50px;
	min-height: 450px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: none;
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
}
#add h1, 
#add h2
{
	text-align: center;
	margin: 0;
	font-size: 24px;
}
#add_logowanie{
	
}
.add_content{
	margin: 0 auto;
	padding: 75px 75px 0 75px;
	position: relative;
	text-align: center;
}
.add_kategoria{
	position: relative;
	margin: 0;
	height: 400px;
	width: 400px;
	display: block;
	/*border-right: 2px solid #888;*/
	float: left;
	/*background: blue;*/
}
.add_kategoria ul{
	
	margin: 75px auto 0 auto;
	padding: 0;
	width: 200px;
	height: 300px;
}
.add_kategoria ul li{
	margin: 0;
	padding: 0;
}
.add_kategoria img{
	display: inline-block;
	margin: 0px auto 40px auto;
	max-width: 200px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
}
.add_materialy{
	position: relative;
	margin: 0 0 0 400px;
	height: 400px;
	width: 550px;
	display: block;
	/*background: green;*/
}
.wybierzObrazek{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/*****  form beacon  *****/
#labelObrazek,
#akcja_name,
#akcja_select{
	display: inline-block;
	top:0px;
	max-width: 200px;
	overflow: hidden;
}
#add_materialy_dodaj input[type="text"],
#submit_dodaj{
	width: 80%;
}
#add_materialy_edytuj,
#add_matierialy_usun{
	display: none;
}
/************* PLACES **************/
.cont
{
	position: relative;
	top: 50px;
	margin: 0 20px;
}
.search{
	
	height: 4em;
	width: 100%;
	text-align: center;
}
.search input{
	padding: 0px 5px 0px 5px;
	display: inline-block;
	height:30px;
	width:40%;
	border-radius:5px; 
	border: 1px solid #888;
}
.search .sub{
	margin: 0px 0px 0px 20px; 
	display: inline-block;
	width: 150px;
	cursor: pointer;
}
.search .sub:hover{
	background: #CCC;
	color: #fff;
	transition: background 0.2s linear;
}
.wpis, 
.wpis0, 
.wpis1,
.rank,
.rank0,
.rank1 
{
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;

}
.wpis,
.rank{
	height:40px;
	padding-bottom: 20px;
	color: #000;
	font-size: 18px;
}
.rank,
.rank0,
.rank1{
	width: 60%;
}
.wpis0, 
.wpis1,
.rank0,
.rank1{
	border-radius: 3px;
	border-bottom: 1px solid #FFF;
	height:60px;
	color: #666;
	font-size: 14px;
}
.thead, .thead0, .thead1{
	margin: 0;
	padding: 3px;	
	display:inline-block;
	width: 160px;
	text-align: center;
	line-height: 60px;
	overflow: hidden;
}
.thead.end, 
.thead0.end,
.thead1.end{
	height: 60px;
	width: 40px;
}
.end img{
	position: absolute;
	top: 20px;
	display: none;
	transition: 0.2s linear;
}
.end img:hover{
	transform: scale(1.5);
}
.wpis0,
.rank0{
	/*background: #ceeefa;*/
	background: #fcf7cf;
}
.wpis1,
.rank1{
	/*background: #96c5d6;*/
	background: #f7ea88;
}
.wpis0:hover,
.wpis1:hover,
.rank0:hover,
.rank1:hover{
	/*background: #f2dd40;*/
	background: #d7bf0f;
	color: #333;
}
.wpis0:hover .end img,
.wpis1:hover .end img{
	display: block;
	cursor: pointer;
}
.cont a{
	margin: 0;
	padding: 0;
	height:36px;
	color: #666;
	
}
datalist{
	
}
#beacon-pic{
	float: left;
	display: inline-block;
	margin: 10px 20px 30px 0px;
	width: 100px;
	height: 100px;
}
#add .monit_logowanie{
	position: relative;
	top:60px;
	margin:0px auto;
	padding: 50px 50px;
	height: 280px;
	width: 300px;
	background: rgba(255,255,255,0.7);
	border-radius: 10px;
	text-align: center;
}
#add .monit_logowanie p.info{
	position: relative;
	top: 10px;
	line-height: 1.3em;
	letter-spacing: 0.05em;
	margin: 0px 0px 30px 0px;
}
#add .monit_logowanie span{
	color: red;
}
#add .monit_logowanie p.dane{
	position: relative;
	top: 30px;
	line-height: 2em;
	letter-spacing: 0.05em;
	margin-top: 0px;
}
#add input[type="submit"],
#submit2,
#submit_dodaj,
#labelObrazek{
	cursor: pointer;
	border:0;
	outline:0;
}

.none{
	display: none;
}
/* footer */
footer{
	clear:left;
	position: relative;
	padding: 0 5em;
	height: 300px;
	background: #eeeeee;
}
.podzial{
	position: relative;
	top:50px;
	display: inline-block;
	width: 32%; 
	height: 200px;
	border-right: 1px solid #fff;
	/*	background: yellow;	*/
	vertical-align: top;
}
.ostatni{
	border-right: 0;
} 

p.footer_opis{
	padding: 0;
	margin: 20px 20px 20px 20px;
	/*font-family: "Andika", sans-serif;*/
	font-family: Cambria;
	color: #000;
	font-size: 22px;
	text-align: center;
}

@media only screen and (max-width: 1300px){
	p.footer_opis{font-size: 20px; margin-bottom: 20px;}
	footer{padding: 0 3em;}
	.add_materialy{width:400px;}
	.thead, .thead0, .thead1{width: 140px; font-size: 13px;}
}
@media only screen and (max-width: 1200px){
	.thead, .thead0, .thead1{width: 120px; font-size: 12px;}
}
@media only screen and (max-width: 1100px){
	.thead, .thead0, .thead1{width: 118px; font-size: 12px;}
}
@media only screen and (max-width: 900px){
	p.footer_opis{font-size: 18px; margin-bottom: 20px;}
	footer{padding: 0 2em;}
	.add_materialy{width:350px;}
	.thead, .thead0, .thead1{width: 116px; font-size: 12px;}
}
ul.footer_opis_3{
	margin: 40px 20px 30px 20px;
	font-family: Cambria;
	/*font-family: "Andika", sans-serif;*/
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
ul.footer_opis_3 a{
	text-decoration: none;
	color: #000;
}
ul.footer_opis_3 li:hover,
ul.footer_opis_3 li a:hover{
	text-decoration: underline;
}
p.footer_podpis{
	margin-top:10px;
	margin-left:24px;
	position: relative;
	bottom: 20px;
	text-align: left;
	font-size: 14px;
	font-family: Cambria;
	/*font-family: "Andika", sans-serif;*/
}
footer ul,
footer ul li{
	max-width: 200px;
	margin: 5px 0 0 20px;
	padding: 0;
	list-style-type: none;
	/*font-family: "Andika", sans-serif;*/
	font-family: Cambria;
	color: #000;
	text-decoration: none;	
	overflow: hidden;
}
footer ul li span{
	position: absolute;
	right: 40px;
}
